//META{"name":"Spotify_Discord","description":"Combine Discord and Spotify into one","author":"CapnKitten","version":"1.3.5.2"}*//{}

@import url(https://capnkitten.github.io/BetterDiscord/Spotify-Discord/css/source.css);
